.modalContainer {
    background-color: white;
    border-radius: 10px;
    width: 60vh;
    margin: 0 auto;
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #333;
    border: 2px solid #333;
    padding: 0.5% 1%;

}
.modalTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    padding: 2%;
}

.modalMuscleSection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 97%;
    padding: 0.5%;
}

.modalMuscleTitle{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    padding: 0.5%;
}

.modalMuscleDescription {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 1%;
}

.modalMuscleExecutionDescription {
    font-size: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 1%;
}

.modalMuscleExecitionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    padding: 0.5%;
}

.modalExecutionSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 1.5%;
}

.modalMuscleTimeSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 20%;
    border: 2px solid #FFF;
    border-left: 2px solid#333;
    padding: 2%;

}

.modalMuscleTime{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}
.modalMuscleTimeTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    font-size: 1.2em;
}

.modalTimeImg{
    padding: 5%;
    height: 25%;
    width: 25%;
}
